################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeklaStructuresAttributes/.vs/TeklaStructuresAttributes/FileContentIndex
/TeklaStructuresAttributes/TeklaStructuresAttributes/obj/Debug
